body {
    background: aliceblue;
    margin:0 auto;
    width: auto;
    
}
#container{
    position: relative;
    display: block;
    margin: 0px auto;
    width: 1266px;
    height: 900px;
}
#header{
    background: #FAFAFA;
    position: absolute;
    top: 10px;
    left: 20px;
    right: 20px;
    height:100px;
    width: auto;
    border: solid black 1px;

    text-align: left;
}

#top{
    background: #FAFAFA;
    position: absolute;
    top: 120px;
    left: 20px;
    right: 20px;
    height: 40px;
    border: solid black 1px;
    
    padding-left: 210px;
    font-size: 20px;
    font-family: Calibri;
    
}
#left{
    background: #FAFAFA;
    position: absolute;
    top: 170px;
    left: 20px;
    bottom: 70px;
    width: 170px;
    border: solid black 1px;

    text-align: center;
    font-size: 17px;
    font-family: Calibri;
}

#product1{
    position: absolute;
    top: 170px;
    left: 230px;
    right: 540px;
    bottom: 420px;
}
#product2{
    position: absolute;
    top: 170px;
    left: 735px;
    right: 20px;
    bottom: 420px;
}

#product3{
    position: absolute;
    top: 490px;
    left: 230px;
    right: 540px;
    bottom: 70px;
}

#product4{
    position: absolute;
    top: 490px;
    left: 735px;
    right: 20px;
    bottom: 70px;
}

#footer{
    background: #FAFAFA;
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
    height: 50px;
    border: solid black 1px;
}

a:link {color: darkgreen;}
a:visited {color: darkgreen;}

#productFoto{
    padding-top:15px;
    float: left;
}
p{
    text-align: left;
    vertical-align: top;
    font-size: 17px;
    font-family: Calibri;
}


#productInformatie{
    position: absolute;
    top: 170px;
    left: 210px;
    right: 20px;
    bottom: 70px;
    //border: solid black 1px;
}