@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Homepage.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>De ijstheewinkel</title>
</head>
<body>
    <div id="container">

        <div id="header">
            <img src="~/Content/header.jpg" alt="logo" id="logo" width="1226" height="100" />
        </div>

        <div id="top">
            <a href="../home/index">Hoofdpagina</a> | <a href="../home/overOns">Over ons</a>
        </div>

        <div id="left">
            <br />
            Naar productpagina:<br />
            <br />
            <a href="../home/ijsthee">IJsthee</a><br />
            <br />
            <a href="../home/diksap">Diksap</a><br />
            <br />
            <a href="../home/vruchtensap">Vruchtensap</a><br />
            <br />
            <a href="../home/tomatensap">Tomatensap</a><br />
            <br />
        </div>

        <div id="bestelFormulier">
            <h1>Voer uw gegevens in:</h1>
            <form name="input" action="/home/BestelFormulierTomatensap" method="post">
                Voornaam: <br />
                <input type="text" name="voornaam" /><br />
                Achternaam: <br />
                <input type="text" name="achternaam" /><br />
                Adres: <br />
                <input type="text" name="adres" /><br />
                Postcode: <br />
                <input type="text" name="postcode" /><br />
                Telefoon nr: <br />
                <input type="text" name="telefoon" /><br />
                E-mail:<br />
                <input type="text" name="email" /><br />
                <br />
                <input type="submit" value="Bestel" /><br />
            </form>

        </div>


        <div id="footer">
            <img src="~/Content/footer.jpg" alt="logo" id="logo" width="1226" height="50" />
        </div>

    </div>
</body>
</html>