@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Homepage.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>De ijstheewinkel</title>
</head>
<body>
    <div id="container">

        <div id="header">
            <img src="~/Content/Logo/logo.jpg" alt="logo" id="logo" height="100" width="250" />
        </div>

        <div id="top">
            <a href="../home/index">Hoofdpagina</a> | <a href="../home/overOns">Over ons</a>
        </div>

        <div id="left">
            <br />
            Naar productpagina:<br />
            <br />
            IJsthee<br />
            <br />
            <a href="../home/diksap">Diksap</a><br />
            <br />
            <a href="../home/vruchtensap">Vruchtensap</a><br />
            <br />
            <a href="../home/tomatensap">Tomatensap</a><br />
            <br />
        </div>

        <div id="productInformatie">
            <img src="~/content/producten/ijsthee.jpg" alt="ijsthee" title="ijsthee" id="productFoto"/>
                <p>
                <b>Productinformatie:</b><br />
                Deze ijsthee wordt van de beste biologische producten gemaakt.<br />
                De citroenen komen van de beste plantages.<br />
                Er worden aan deze ijsthee suikers toegevoegd.<br />
                Ook worden er geen kunstmatige geur- kleur- en smaakstoffen toegevoegd.<br />
                Deze ijsthee is 100% puur natuur.<br />
                <br />

                <b>Voedingswaarde per 100 gram:</b> <br />
                energie: 82  kJ/19 kcal <br />
                vet: 0 g <br />
                koolhydraten: 4.8 g <br />
                waarvan suikers: 0g <br />
                eiwitten: 0 gram <br />
                zout 0 gram <br />
            </p>
            
            <br />
            <br />
            <h2>€3,99 Per stuk!</h2>
            <form id="ijstheeBestelForm" name="ijstheeBestelForm" action="/home/ijsthee" method="post">
                <input type="image" src="~/content/knop/bestel.png" id="bestelKnop" alt="Submit form" /><br />
                <br />
                Aantal:
                <input type="text" name="aantal" />
                
            </form>

                  
        </div>


        <div id="footer">

        </div>

    </div>
</body>
</html>