@{
    Layout = null;
}

    <!DOCTYPE html>

    <html>
    <head>
        <link href="~/Content/Homepage.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width" />
        <title>De ijstheewinkel</title>
    </head>
    <body>
        <div id="wrapper">
        <div id="header">
            <img src="~/Content/Logo/logo.jpg" alt="logo" id="logo" height="100" width="250" />
        </div>
        <div id="top">
            <a href="../home/index">Hoofdpagina</a> | Over ons 
        </div>
        <div id="left">

        </div>
        <div id="product1">

        </div>
        <div id="product2">

        </div>
        <div id="product3">

        </div>
        <div id="product4">

        </div>
        <div id="right">

        </div>
        <div id="footer">

        </div>
        </div>
    </body>
</html>
