@{
    Layout = null;
}

    <!DOCTYPE html>

    <html>
    <head>
        <link href="~/Content/Homepage.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width" />
        <title>De ijstheewinkel</title>
    </head>
    <body>
        <div id="container">

        <div id="header">
            <img src="~/Content/header.jpg" alt="logo" id="logo" width="1226" height="100"/>
        </div>

        <div id="top">
            Hoofdpagina | <a href="../home/overOns">Over ons</a>
        </div>

        <div id="left">
            <br />
            Naar productpagina:<br />
            <br />
            <a href="../home/ijsthee">IJsthee</a><br />
            <br />
            <a href="../home/diksap">Diksap</a><br />
            <br />
            <a href="../home/vruchtensap">Vruchtensap</a><br />
            <br />
            <a href="../home/tomatensap">Tomatensap</a><br />
            <br />
        </div>

            <div id="product1"> 
                <img src="~/content/producten/ijsthee.jpg" alt="ijsthee" title="ijsthee" id="productFoto" height="200" width="150" />
                <p>
                    TEEEEEEEEEEEEEEEEEST
                    Deze heerlijke ijsthee bevat 0% suiker.<br />
                    Toch smaakt hij net zo goed als suikerhoudende ijsthee.<br /> 
                    <h2>€3,99</h2>
                    <a href="~/Home/ijsthee">
                        <img src="~/content/Knop/meerinfo.png" alt="ijsthee" title="KLIK HIER" id="productFoto" height="45" width="200" />
                    </a>
                </p>
            
                
            </div>

            <div id="product2"> 
                <img src="~/content/producten/diksap.jpg" alt="diksap" title="diksap" id="productFoto" height="210" width="150" />
                    <p>
                        Deze heerlijke diksap bevat 0% suiker.<br />
                        Toch smaakt deze net zo goed als suikerhoudende diksap.<br />
                        Beschikbaar in de smaak: aarbei<br />
                        <h2>€5,99 </h2>
                        <a href="~/Home/diksap">
                            <img src="~/content/Knop/meerinfo.png" alt="ijsthee" title="KLIK HIER" id="productFoto" height="45" width="200" />
                        </a>
                    </p>
            </div>

            <div id="product3">
                
                    <img src="~/Content/producten/mango.jpg" alt="vruchtensap" title="vruchtensap" id="productFoto" height="200" width="150" />
                    <p>
                        Deze heerlijke vruchtensap bevat 0% suiker.<br />
                        Toch smaakt deze net zo goed als suikerhoudende vruchtensap.<br />
                        Beschikbaar in de smaak: mango.<br />
                        <h2>€3,99</h2><a href="~/Home/vruchtensap">
                            <img src="~/content/Knop/meerinfo.png" alt="ijsthee" title="KLIK HIER" id="productFoto" height="45" width="200" />
                        </a>
                    </p>
                
            </div>

            <div id="product4">
                
                    <img src="~/Content/producten/tomaat.jpg" alt="tomatensap" title="tomatensap" id="productFoto" height="200" width="150" />
                    <p>
                        Deze heerlijke tomatensap bevat 0% suiker.<br />
                        Toch smaakt deze net zo goed als suikerhoudende tomatensap.<br />
                        <h2>€2,99 </h2>
                        <a href="~/Home/tomatensap">
                            <img src="~/content/Knop/meerinfo.png" alt="ijsthee" title="KLIK HIER" id="productFoto" height="45" width="200" />
                        </a>
                    </p>
                
            </div>

            <div id="footer">
                <img src="~/Content/footer.jpg" alt="logo" id="logo" width="1226" height="50" />
            </div>

        </div>
    </body>
</html>
