@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Homepage.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>De ijstheewinkel</title>
</head>
<body>
    <div id="container">

        <div id="header">
            <img src="~/Content/header.jpg" alt="logo" id="logo" width="1226" height="100" />
        </div>

        <div id="top">
            <a href="../home/index">Hoofdpagina</a> | Over ons
        </div>

        <div id="left">
            <br />
            Naar productpagina:<br />
            <br />
            <a href="../home/ijsthee">IJsthee</a><br />
            <br />
            <a href="../home/diksap">Diksap</a><br />
            <br />
            <a href="../home/vruchtensap">Vruchtensap</a><br />
            <br />
            <a href="../home/tomatensap">Tomatensap</a><br />
            <br />
        </div>

        <div id="productInformatie">
            
            <img src="~/content/eigenaar/eigenaar.jpg" alt="eigenaar" title="eigenaar" id="eigenaarFoto" style="padding-right: 5px;" align="left" height="300" width="300" />
            
            Beste bezoeker, welkom op onze website www.suikervrijedrankjes.nl!
            <br /><br />
            Mijn naam is M.J. Meurs en ik ben de eigenares achter deze webshop.
            Al jaren zijn we op zoek naar een betrouwbare plek om gezonde suikervrije drankjes te bestellen
            maar konden deze tevergeefs niet vinden. Daarom vonden wij het nodig om zelf zo’n plek te creëren voor alle liefhebbers van
            gezonde drankjes.
            <br /><br />
            Ons bedrijf doet onderzoek en proeft voor u alle suikervrije drankjes op de markt.
            Alleen de beste producten maken het tot de selectie wat op de webshop verkrijgbaar is.
            In tegenstelling tot andere aanbieders zetten wij pas een product op de webshop als wij er 100%
            zeker van zijn dat het product geen suiker bevat of andere ongezonde vervangers. Wij werken met vertrouwde 
            leveranciers en bedrijven die zich richten op de gezonde markt.
            <br /><br />
            Wij zien u graag als klant, nu en in de toekomst!
        </div>

        <div id="footer">
            <img src="~/Content/footer.jpg" alt="logo" id="logo" width="1226" height="50" />
        </div>

    </div>
</body>
</html>